

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.App-header {
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
}

.App-link {
  color: #61dafb;
}

.Phone-frame {
  /* background-image: #dedede; */
  background-image: url('./WAbg.png');
  /* height: 4.54in;
  width: 3.2in; */
  aspect-ratio: 9/20;
  display: flex;
  flex-direction: column;
  height: 75vh;
  border-radius: 25px;
  overflow-y: hidden;
  padding: 25px 2px;
  margin-inline: 25px;
}


.Chat-container{
  /* border-radius: 25px; */
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  overflow-y: scroll;
  overflow-x: hidden;
}

.Chat-container::-webkit-scrollbar {
  width: 0.5rem;
  /* padding: 10px; */
}

.Chat-container::-webkit-scrollbar-thumb {
  background: #9d9ba1;
  border-radius: 10px;
  /* padding: 10px; */
}

.date-container {
  background-color: whitesmoke;
  border-radius: 14px;
  display: flex;
  align-self: center;
  margin: 1rem;
} 

.date-container p {
  font-size: 0.85rem;
  margin-block: 0.5em;
  margin-inline: 0.5em;
  color: gray;

}

.message-container{
  border-radius: 25px;
  margin-block-start: 0.5rem;
  padding: 16px;
  text-align: left;
  font-size: 1rem;
  max-width: 24vh;
  color: black;
  word-wrap: break-word;
}

.message-container p {
  font-size: 0.85rem;
  margin-block: 0.5em;
  margin-inline: 0.5em;
  color: gray;
}

.designated{
  background-color: #dfffad;
  /* margin-right: 10px; */
  margin-left: 50px;
  align-self: flex-end;
  border-top-right-radius: 0;
  }

.other{
  background-color: whitesmoke;
  /* margin-left: 10px; */
  margin-right: 50px;
  border-top-left-radius: 0;
}
